<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<%@ include file="/WEB-INF/views/common/header.jsp"%>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<form name="detailForm">
	<input type="hidden" name="boardCode" value="${param.boardCode}" />
	<input type="hidden" name="postNo" value="${param.postNo}" />
</form>
<div class="site-section">
	<div class="container" style="margin-top:65px">
		<h2>상세보기</h2>
		
	</div>
</div>
</body>
</html>