<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>

    <script src="${pageContext.request.contextPath }/resources/js/jquery-3.3.1.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery-migrate-3.0.0.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/popper.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/bootstrap.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/owl.carousel.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.sticky.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.waypoints.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.animateNumber.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.fancybox.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.stellar.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/jquery.easing.1.3.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/bootstrap-datepicker.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/isotope.pkgd.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/js/aos.js"></script>
  



    <script src="${pageContext.request.contextPath }/resources/js/main.js"></script>
    <!--===============================================================================================-->
	<script src="${pageContext.request.contextPath }/resources/Lvendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Lvendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Lvendor/bootstrap/js/popper.js"></script>
    <script src="${pageContext.request.contextPath }/resources/Lvendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Lvendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Lvendor/daterangepicker/moment.min.js"></script>
    <script src="${pageContext.request.contextPath }/resources/Lvendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Lvendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="${pageContext.request.contextPath }/resources/Ljs/main.js"></script>

	<c:if test="${not empty msg }">
		<script>
			$(()=>{
				alert("${msg}");
			});
		</script>
	</c:if>
  </body>